.App {
  text-align: center;
  position: absolute;
  left: 8%;
  right: 8%;
}
.App header {
  display: flex;
  height: 40vh;
}
.App .photo {
  max-width: 30%;
  flex-grow: 1;
}
.App img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.App .col2 {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}
.App .name {
  background-color: #343a40;
  flex-grow: 2;
}
.App .position {
  flex-grow: 1;
  font-size: 1rem;
  background-color: black;
  color: white;
  margin: 0;
}
.App .menu {
  flex-grow: 2;
  display: flex;
}
.App .menuButton {
  flex-basis: 25%;
  border: none;
  cursor: pointer;
}
.App .Home {
  background-color: red;
}
.App .Resume {
  background-color: blue;
}
.App .Projects {
  background-color: green;
}
.App .Contact {
  background-color: purple;
}
